@import "_header";
@import "css-reset";
@import "_footer";
header{
    background-image: url(/img/bg-about.jpg);
}
// banner
main{
    .banner{
        background-image: url(/img/bg-about.jpg);
        height: 900px;
        display: flex;
        justify-content: center;
       .subbanner{
            padding: 20px;
            border-radius: 20px;
            background-color: rgba($color: white, $alpha: 0.5);
            width: 70%;
            margin: auto;
            padding: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                font-family: 'Poppins', sans-serif;
                color: #06283D;
                font-size: 72px;
                margin: 0%;
                text-decoration: underline;
            }
            h2{
                font-size: 42px;
                margin: 1%;
                font-family: 'Poppins', sans-serif;
                color: #06283D;
            }
            article{
                p{
                    text-align: center;
                    padding: 10px 50px;
                    margin: auto;
                    width: 50%;
                    font-family: 'Darker Grotesque', sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    color: #06283D;
                }
            }
       }
    }

    // our service
    .our-service{
        padding: 100px;
        
        .judul{
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-size: 26px;
            
        }
        h6{
            margin: 0%;
            font-size: 18px;
            text-align: center;
            
        }
        .service{
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            
            
            .produk{
                cursor: pointer;
                width: 20%;
                
                display: block;
                margin: 30px;
                justify-content: center;
                align-items: center;
                
                img{
                    display: block;
                    align-items: center;
                    margin: auto;
                    transition-duration: 1s;
                    width: 60%;
                }
                img:hover{
                    transform: scale(1.2);
                    transition-duration: 1s; 
                    background-color: rgba($color: #06283D, $alpha: 0.2);
                    border-radius: 10px;
                }
                h1{
                    text-align: center;
                    margin: 0%;
                    a{
                        padding: 10px;
                        position: relative;
                        font-family: 'Darker Grotesque', sans-serif;
                        text-decoration: none;
                        
                    }
                    a:hover{
                        background-color: rgba($color: #06283D, $alpha: 0.2);
                    }
                }
                
            }
            
        }
    }

    // Subscribe
    .subscribe{
        display: flex;
        padding: 100px;
        .kiri{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
            }
        }
        .kanan{
            width: 70%;
            align-items: center;
            display: flex;
            justify-content: center;
            h1{
                font-family: 'Poppins', sans-serif;
                font-size: 42px;
                padding: 20px;
                color: #06283D;
            }
            button{
                width: 15%;
                border: none;
                border-radius: 10px;
                background-color: #06283D;
                height: 12%;
                a{
                    font-size: 18px;
                    font-family: 'Poppins', sans-serif;
                    color: white;
                }
            }
        }
    }
}


@media screen and (max-width:800px) {
    @import "_header-mobile";
    @import "_footer-mobile";
    header{
        .header1{
            background-image: url(/img/bg-about.jpg);
            nav{
                ul{
                    li:nth-of-type(3):hover .submenu{
                        background-image: url(/img/bg-about.jpg);
                    }
                }
            }
        }
    }

    // main
    main{
        // banner
        .banner{
            height: 700px;
            .subbanner{
                margin: auto;
                height: 70%;
                margin-top: 80px;
                h1{
                    font-size: 42px;
                    margin-top: 135px;
                }
                h2{
                    font-size: 24px;
                }
                article{
                    p{
                        padding: 10px;
                        text-align: center;
                        width: auto;
                    }
                }
            }
        }

        // service
        .our-service{
            .judul{
                font-size: 18px;
                margin: 0%;
            }
            h6{
                margin: 1%;
                font-size: 12px;
            }
            .service{
                display: flex;
                flex-direction: column;
                .produk{
                    width: auto;
                }
            }
        }

        // subscribe
        
        .subscribe{
            display: flex;
            padding: 10px;
            flex-direction: column;
            align-items: center;
            .kiri{
                width: 100%;
                display: flex;
                justify-content: center;
                img{
                    width: 100%;
                }
            }
            .kanan{
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 10px;
                h1{
                    margin: 0%;
                    font-size: 24px ;
                }
                button{
                    width: auto;
                    padding: 5px 10px;
                }
            }
        }

    }
}