html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Header */
header{ 
    top: 0%;
    position: fixed; 
    z-index: 2;
    background-image: url(/img/rm373batch2-04.jpg);
    width: 100%;
    .header1{
        color: white;
        padding: 2px;
        display: flex;
        justify-content: space-between;
        .logo{
            color: white;
            justify-content: center;

        }
        .pencarian{
            margin: auto;
            padding: 10px;
            width: 20%;
            .input1{
                border-radius: 20px;
                width: 70%;
            }
            button{
                width: 20%;
                border-radius: 10px;
                .input2{
                    display: none;
                }
                img{
                    width: 10px;
                }
            }
            button:hover{
                background-color: #06283D;
                cursor: pointer;
            }
        }

        nav{
            width: 60%;
            padding: 2px;
            display: flex;
            align-items: center;
            ul{
                justify-content: space-around;
                padding: 2px;
                display: flex;
                width: 100%;
                li:nth-of-type(3) .submenu{
                    display: none;
                }
                li:hover{
                    background-color: #06283D;
                    border-radius: 10px;
                }
                li{
                    padding: 10px;
                    list-style: none;
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .header2{
        box-shadow: 0px 0px 5px white;
        nav{
            width: 100%;
            ul{
                display: flex; 
                padding: 2px;
                justify-content: space-around;
                li:hover{
                    background-color: white;
                    border-radius: 10px;
                    a{
                        color: #06283D;
                    }
                }
                li{
                    padding: 5px;
                    list-style: none;
                    a{
                        color:white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

main{
    .banner{
        margin-top: 90px;
        figure{
            position: relative;
            .windows{
                width: 100%;
            }
            .hp{
                display: none;
            }
            .logo{
                font-size: 45px;
                position: absolute;
                color: white;
                top: 2%;
               
            }
            .produk{
                z-index: 1;
                position: absolute;
                bottom: 10%;
                right: 1%;
                h1{
                    text-align: right;
                    font-size: 72px;  
                    color: white;
                }
                h2{
                    text-align: right;
                    font-size: 42px;
                    color: white; 
                    margin-top: -70px;
                }
                article{
                    p{
                        text-align: right;
                        margin-top: -30px;
                        font-size: 14px;
                        padding: 10px;
                        margin-left: 60%;
                        color: white;
                    }
                }
            }
        }
    }

    // Informasi Produk
    .informasiproduk{
        position: relative;
        bottom: 125px; 
        display: flex;
        .kiri{
            width: 40%;
            display: flex;
            align-items: center;
            .deskripsi{
                height: 70%;
                width: 100%;
                margin: 10%;
                margin-top: 50%;
                h1{
                    font-size: 72px;
                }
                h6{
                    font-size: 24px;
                    margin-top: -13%;
                }
                article{
                    p{
                        text-align: center;
                        font-size: 18px;
                        margin-top: -7%;
                        width: 90%;
                        padding: 20px;
                    }
                }
                button{
                    margin: auto;
                    border: none;
                    border-radius: 10px;
                    padding: 10px;
                    display: block;
                    font-size: 24px;
                }
                
            }
        }
        .kanan{
            width: 60%;
            display: flex;
            justify-content: end;
            img{
                width: 100%;
            }
        }
    }
}


// Add Media Screen

@media screen and (max-width:800px) {
    header{
        position: fixed;
        .header1{
            background-image: url(/img/rm373batch2-04.jpg);
            nav{
                ul{
                    li{
                        padding: 10px;
                    }
                    li:hover{
                        border-radius: 10px;
                        background-color: #06283D;
                    }
                    li:nth-of-type(3):hover .submenu{
                        border-radius: 10px;
                        padding: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        position: absolute;
                        background-image: url(/img/rm373batch2-04.jpg);
                        top: 40px;
                        right: 50px;
                        width: 400px;
                        li:nth-of-type(1){
                            margin-right: 115px;
                        }
                        li{
                            padding: 10px;
                            width: 120px;
                        }
                    }
                }
            }
            .pencarian{
                margin: auto;
                padding: 10px;
                width: 20%;
                text-align: center;
                .input1{
                    display: none;
                }
                button{
                    width: 50%;
                    border-radius: 10px;
                }
                button:hover{
                    background-color: #06283D;
                    cursor: pointer;
                    .input2{
                        display: block;
                        position: absolute;
                        top: 40px;
                        height: 30px;
                        border-radius: 10px;
                        border: 3px solid #06283D;
                        background-color: white;
                        left: 95px;
                    }
                }
            }
        }
        .header2{
            display: none;
        }
    }

    // Banner
    main{
        .banner{
            margin: auto;
            figure{
                .windows{
                    display: none;
                }
                .hp{
                    display: block;
                    width: 100%;
                }
                .logo{
                    display: none;
                   
                }
                .produk{
                    width: 70%;
                    bottom: 10%;
                    right: 0%;
                    left: 0%;
                    border-radius: 20px;
                    background-color:rgba($color: white, $alpha: 0.5);
                    margin: auto;
                    box-shadow: 0px 0px 2px grey;
                    h1{
                        color: #06283D;
                        margin: auto;
                        text-align: center;
                    }
                    h2{
                       color: #06283D;
                       margin: auto;
                       text-align: center;
                    }
                    article{
                        p{
                            padding: 10px;
                            margin: auto;
                            width: 60%;
                            text-align: center;
                            color: #06283D;
                        }
                    }
                }
            }
        }
    }
}
